body {
  background: #616161;
  display: flexbox;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: flex;
}

.scroll {
  overflow-y: scroll;
  height: 100px;
  background-image: url("../assets/icon-128.png");
}

noscript {
  flex: auto;
  background-color: #616161;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Fira Code", monospace;
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #fff;
}

.nav {
  font-size: 17px;
  font-family: "Fira Code", monospace;
  animation-name: SlideIn;
  animation-duration: 3s;
  display: flex;
  gap: 0.5rem;
}

.a {
  flex: 1;
  background-color: #525252;
  /* color: #bdbdbd; */
  border: 3px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.7s ease-out;
}

a:hover,
a:focus {
  background-color: #a3a3a3;
  color: #fff;
}

p {
  font-size: larger;
  color: #ffffff;
  animation: 5s;
  animation-name: SlideIn;
  animation-iteration-count: 1;
}

button {
  font-size: smaller;
  color: #bdbdbd;
  border: 3px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.7s ease-out;
}

@keyframes FadeInOut {
  from {
    opacity: 0%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}
