.navbar {
    text-align: center; 
    gap: 1px;
    background-color: #ffd900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-align: center;
    text-decoration: none;
    text-decoration-style: none;
    color: whitesmoke;
    transition: all 0.7s ease-in-out;
}

a:hover,
a:focus {
    color: #eed754;
    background-color: #ffff;
}